.form-border{
    border: 1px solid lightgray;
    padding: 15px;
}
.ng-valid[required], .ng-valid.required,
.form-control.ng-touched.ng-valid  {
    border-left: 5px solid #42A948;  
}
      
.form-control.ng-touched.ng-invalid {
  border-left: 5px solid #dc3545 !important;  
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 0.2rem #dc354542;
}